@model Blog.Models.ManageUserViewModel

<p>
    You do not have a local username/password for this site. Add a local
    account so you can log in without an external login.
</p>

@using (Html.BeginForm("Manage", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
<div class="primary no-border formdiv">
    <h4>Create Local Login</h4>

    @Html.ValidationSummary()
    <div>
        @Html.LabelFor(m => m.NewPassword)

            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })

    </div>
    <div>
        @Html.LabelFor(m => m.ConfirmPassword)

            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })

    </div>
    <div class="no-border">

            <input type="submit" value="Set password" class="more" />

    </div>
    </div>
}
