@model Blog.Models.Comment

@{
    ViewBag.Title = "Comment details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Comment details</h2>

<div>

    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.UserName)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Post.Titel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Post.Titel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Approved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Approved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<div class="link">
    @Html.ActionLink("Back to Comments", "Index")
</div>
