@model IEnumerable<Blog.Models.Comment>


<table class="table">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationUser.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Post.Titel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Approved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {

        int i = item.Id;

        AjaxOptions options = new AjaxOptions();
        options.HttpMethod = "Post";
        options.UpdateTargetId = string.Format("tr{0}", i);
        options.InsertionMode = InsertionMode.Replace;

        string command = item.Approved ? "Unapprove" : "Approve";

        <tr id=@string.Format("tr{0}", i)>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Post.Titel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Approved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Ajax.ActionLink(command, "Approve", new { id = item.Id }, options) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>


